@model ProductViewModel

<div class="container mt-3 card-container">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/@Model.ImagePath" class="card-img" alt="Обложка книги" height="500" width="800">
                <a class="btn btn-primary btn-sm mt-2 ml-3" href="/home/index/" role="button">Продолжить покупки</a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">Автор: @Model.Author</p>
                    <p class="card-text">Описание книги<br>@Model.Description</p>
                    <a class="btn btn-outline-success" href="#">Добавить в избранное</a>
                    <a class="btn btn-primary" href="javascript:void(0);" onclick="addToCart(@Model.Id)">Добавить в корзину</a>
                    <div class="mt-4">
                        <h6>О книге:</h6>
                        <p>@Model.AboutTheBook</p>
                    </div>
                    <div class="mt-4">
                        <h6>Об авторе:</h6>
                        <img src="~/author.png" alt="Фото автора" class="author-photo">
                        <p>@Model.AboutAuthor</p>
                    </div>
                    <div class="mt-4">
                        <h6>Цитата из книги:</h6>
                        <p>@Model.Quote</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Товар добавлен в корзину</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Товар успешно добавлен в корзину.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>