@model List<Product>

<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("AdminPanelNavigation")
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h2 class="text-center mr-5">Список продуктов</h2>
            <a asp-area="Admin" asp-action="AddProduct" asp-controller="AdminProducts">Добавить новый продукт</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Цена</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>
                                <a style="color:black" href="/product/index?productId=@product.Id">
                                    @product.Name
                                </a>
                            </td>
                            <td>@product.Cost</td>
                            <td>
                                <a style="color:white" class="btn btn-sm btn-info" asp-area="Admin" asp-route-productId="@product.Id" asp-action="ViewEdit" asp-controller="AdminProducts">Редактировать</a>
                            <td>
                                <a style="color:white" class="btn btn-sm btn-info" asp-area="Admin" asp-route-productId="@product.Id" asp-action="Delete" asp-controller="AdminProducts">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
    </div>
</div>