@model CartViewModel

@if (Model == null)
{
     <div class="container mt-5 text-center">
        <h1>Корзина пустая</h1>
        <a class="btn btn-primary btn-sm mt-2 ml-3" href="/home/index/" role="button">Вернуться к покупкам</a>
    </div>
}
else{
<div class="container">
        <h1>Корзина</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название позиции</th>
                    <th scope="col">Количество товара в позиции</th>
                    <th scope="col">Стоимость позиции</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Items){
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Amount</td>
                    <td>@item.Cost</td>
                    <td>
                        <a style="color:white" class=" btn btn-sm btn-success" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Product.Id">Увеличить</a>
                        <a style="color:white" class="btn btn-sm btn-danger" asp-area="" asp-controller="Cart" asp-action="DecreaseAmount" asp-route-productId="@item.Product.Id">Уменьшить</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="text-right">
            <p><strong>Итоговая сумма: @Model.Cost</strong></p>
            <a style="color:white" class="btn btn-primary" asp-area="" asp-controller="Order" asp-action="Index">Перейти к оформлению</a>
            <a style="color:white" class="btn btn-warning" asp-area="" asp-controller="Cart" asp-action="Clear">Очистить корзину</a>
        </div>
    </div>
}