@model OrderData
@if (Model == null) { <h1>Bad</h1>}
else{
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h2 class="text-center mr-5">Список заказов</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Заказ # @Model.Id</h5>
                    <p class="card-text">Дата заказа: @Model.Data</p>
                    <p class="card-text">Полное имя: @Model.FullName</p>
                    <p class="card-text">Адрес: @Model.Address</p>
                    <p class="card-text">Телефон: @Model.Phone</p>
                    <p class="card-text">E-mail: @Model.Email</p>
                    <p class="card-text">Способ доставки: @Model.DeliveryMethod</p>
                    <p class="card-text">Способ оплаты: @Model.PaymentMethod</p>
                    <p class="card-text">Промокод: @Model.PromoCode</p>
                    <p class="card-text">Итоговая стоимость: @Model.TotalCost руб.</p>
                    <p class="card-text">Статус: @Model.Status</p>
                    <h6 class="card-subtitle mb-2 text-muted">Товары в заказе:</h6>
                    <ul>
                        @foreach (var item in Model.ListProducts.Items)
                        {
                            <li>@item.Product.Name - @item.Product.Cost руб. x @item.Amount шт.</li>
                        }
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>}